.main_section {
  padding: 30px;
}

.sub_section {
  padding: 10px;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.sub_section h3 {
  text-align: center;
}

.status_pending {
  color: orange;
}

.status_declined {
  color: red;
}

.status_accepted {
  color: green;
}
