.sub_section {
  padding: 10px;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(192, 190, 190, 0.2);
}

.sub_section h3 {
  text-align: center;
  font-weight: 500;
}

.status_pending {
  color: orange;
}

.status_declined {
  color: red;
}

.status_accepted {
  color: green;
}

.h3 {
  font-weight: bold
}
