<div class="container">
  <h1>All games</h1>
  <div class="row">
    <% @games.each do |game| %>
      <div class="col-3">
        <div class="card m-2">
          <%= cl_image_tag game.photos.first.key, class: 'card-img-top' %>
          <div class="card-body">
            <h5 class="card-title"><%= '???' %></h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <%= link_to 'haha', '#', class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
